<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DataPath" value="Data" />
    <add key="WindSpikeThresholdMs" value="5.0" />
    <add key="LowWindCutInMs" value="3.0" />
    <add key="NacelleDeviationDeg" value="20" />
    <add key="PowerDropPct" value="30" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="LargeStreamingTcpBinding" transferMode="Streamed" maxReceivedMessageSize="10485760" maxBufferSize="1048576" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="64" maxStringContentLength="10485760" maxArrayLength="10485760" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Service.WindTurbineService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4002" />
          </baseAddresses>
        </host>
        <endpoint address="WindTurbineService" binding="netTcpBinding" bindingConfiguration="LargeStreamingTcpBinding" contract="Common.IWindTurbineService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
